<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <style>
    a{
      font-weight: bold;
    }
    </style>
    <div style="overflow: hidden; width: 500px;border: 2px solid #287A72; border-radius:5px;">
      <div style="text-align:center; margin-left:-20px; padding-top:20px;">
        <img style="width:200px;" src="https://mail.google.com/mail/u/0?ui=2&ik=03cdc9a35d&attid=0.1&permmsgid=msg-a:r5174866664612865626&th=167bbb3bf8748a03&view=fimg&realattid=f_jps6brbi0&disp=thd&attbid=ANGjdJ_YhISDJv9iRK2O2HBp6Rrf77MVervK2H6ylAxjJGiF0sFTqtajqS0qUllI7uSw_6K6sYZ86clVbN4Dmq4nfMpZjRiBSe7yv0odF67KOcf8_eMRVEapU6QAZ00&ats=2524608000000&sz=w1077-h834"/>
      </div>
      <table style=" width : 100%;">
        <tr>
          <td style="padding:10px; text-align: center; padding:30px; color:#287A72; font-weight: bold;">
            [Jobless] 여기 요청하신 아이디가 있습니다.
          </td>
        </tr>
        <tr>
          <td style="padding:10px; padding-top:20px; padding-bottom:20px;">
            아래는 Jobless 계정을 귀하의 이메일 주소와 연결하여 사용 중인 아이디입니다.
          </td>
        </tr>
        <tr>
          <td >
            <div style="font-size:18px;color : #287A72; text-align:center;font-weight: bold; padding-bottom:20px;">아이디</div>
          </td>
        </tr>
      </table>
    </div>

  </body>
</html>
