<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <script type="text/javascript" src="../js/jQuery.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/shareJs.js"></script>
    <script type="text/javascript" src="../js/sliceString.js"></script>
    <script type="text/javascript" src="../js/borderJs.js"></script>
    <script type="text/javascript" src="../js/view.js"></script>

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/shareCss.css">
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/border.css" />
    <link rel="stylesheet" href="../css/customC.css">
    <link rel="stylesheet" href="../css/view.css">


    <meta charset="utf-8" />
    <script type="text/javascript">

    </script>
    <title>백수넷</title>

  </head>
  <body>
        <div class="container margin-nav">
          <div class="row">
              <div class="row margin-container hotclip">
                <div class="col-xs-8 hotclip-view-box">
                  <div>
                    <div class="hotclip-view-frame">
                      <iframe src="https://clips.twitch.tv/embed?autoplay=false&clip=FlirtyCalmBatOneHand&tt_content=embed&tt_medium=clips_embed" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
                    </div>
                    <div class="hotclip-title-view ">
                      테스트 제목
                    </div>
                    <div class="bordcaster-name">
                      <a>머독</a>
                    </div>
                    <div class="hotclip-views">
                      <div>
                        조회수
                        <p>
                          0
                        </p>
                        회
                      </div>
                      <div class="con-right like-btn">
                        <button><span class="glyphicon glyphicon-thumbs-up"></span>0</button>
                      </div>
                    </div>
                  </div>

                  <!-- -댓글- -->
                  <hr />

                  <div class="clip-write-info">
                    <div class="clip-icon ">
                      <img />
                    </div>
                    <div class="clip-write-user">
                      <div class="clip-writer">
                        머룽이다룽
                      </div>
                      <div class="clip-write-day">
                        게시일 :
                        <p>
                          2018.12.08
                        </p>
                      </div>
                    </div>
                  </div>

                  <hr />

                  <div class="hotclip-comment">
                    <div  class="hotclip-likes">
                      댓글<p> 0 </p> 개
                    </div>
                    <div class="hotclip-comment-input">
                      <div class="clip-icon">
                        <img />
                      </div>
                      <div class="">
                        <form action="#">
                          <input type="text" name=""placeholder="댓글을 입력하세요..." class="clip-comment-box">
                          <button type="submit" name="button"><span class="glyphicon glyphicon-pencil" class="clip-comment-submit"></span>작성</button>
                        </form>
                      </div>
                    </div>
                    <div class="clip-comments">
                      <ul>
                        <li>
                          <div class="clip-comment-user-info">
                            <div class="clip-comment-user-icon">
                              <img />
                            </div>
                            <div class="clip-comment-user-comment">
                              <div class="clip-comment-user-writer">
                                하로
                                <div class="clip-comment-service">
                                  <a>삭제</a>
                                  <a>신고</a>
                                </div>
                              </div>
                              <div class="clip-comment-user-contents ">
                                ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ
                              </div>
                            </div>
                          </div>
                        </li>

                        <li>
                          <div class="clip-comment-user-info">
                            <div class="clip-comment-user-icon">
                              <img />
                            </div>
                            <div class="clip-comment-user-comment">
                              <div class="clip-comment-user-writer">
                                하로
                                <div class="clip-comment-service">
                                  <a>삭제</a>
                                  <a>신고</a>
                                </div>
                              </div>
                              <div class="clip-comment-user-contents ">
                                ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ
                              </div>
                            </div>
                          </div>
                        </li>

                      </ul>
                    </div>


                  </div>



                </div>
                <div class="col-xs-4">
                  <div class="clip-list-view">
                    <ul>
                      <li>
                        <a>
                          <div class="clip-list-view-video-info">
                            <div class="clip-list-view-thumbnails" style="display:inline-block;">
                              <img src="https://img.youtube.com/vi/lV6bHRb52RQ/sddefault.jpg"/>
                            </div>
                            <div class="" style="display:inline-block;">
                              <div class="clip-list-view-title">
                                <a id="clip-list-title">승권이 마약파티</a>
                              </div>
                              <div class="clip-list-view-views">
                                <p>갱생레바</p>조회수<p>0</p>
                              </div>
                              <div class="clip-list-view-info">
                                <div>
                                  <span class="glyphicon glyphicon-thumbs-up"></span>0
                                </div>
                                <div>
                                  <span class="glyphicon glyphicon-comment"></span>0
                                </div>
                              </div>
                            </div>
                          </div>
                        </a>
                      </li>

                      <li>
                        <a>
                          <div class="clip-list-view-video-info ">
                            <div class="clip-list-view-thumbnails" style="display:inline-block;">
                              <img src="https://img.youtube.com/vi/lV6bHRb52RQ/sddefault.jpg"/>
                            </div>
                            <div class="" style="display:inline-block;">
                              <div class="clip-list-view-title">
                                <a id="clip-list-title">승권이 마약파티</a>
                              </div>
                              <div class="clip-list-view-views">
                                <p>갱생레바</p>조회수<p>0</p>
                              </div>
                              <div class="clip-list-view-info">
                                <div>
                                  <span class="glyphicon glyphicon-thumbs-up"></span>0
                                </div>
                                <div>
                                  <span class="glyphicon glyphicon-comment"></span>0
                                </div>
                              </div>
                            </div>
                          </div>
                        </a>
                      </li>

                      <li>
                        <a>
                          <div class="clip-list-view-video-info ">
                            <div class="clip-list-view-thumbnails" style="display:inline-block;">
                              <img src="https://img.youtube.com/vi/lV6bHRb52RQ/sddefault.jpg"/>
                            </div>
                            <div class="" style="display:inline-block;">
                              <div class="clip-list-view-title">
                                <a id="clip-list-title">승권이 마약파티</a>
                              </div>
                              <div class="clip-list-view-views">
                                <p>갱생레바</p>조회수<p>0</p>
                              </div>
                              <div class="clip-list-view-info">
                                <div>
                                  <span class="glyphicon glyphicon-thumbs-up"></span>0
                                </div>
                                <div>
                                  <span class="glyphicon glyphicon-comment"></span>0
                                </div>
                              </div>
                            </div>
                          </div>
                        </a>
                      </li>

                      <li>
                        <a>
                          <div class="clip-list-view-video-info ">
                            <div class="clip-list-view-thumbnails" style="display:inline-block;">
                              <img src="https://img.youtube.com/vi/lV6bHRb52RQ/sddefault.jpg"/>
                            </div>
                            <div class="" style="display:inline-block;">
                              <div class="clip-list-view-title">
                                <a id="clip-list-title">승권이 마약파티</a>
                              </div>
                              <div class="clip-list-view-views">
                                <p>갱생레바</p>조회수<p>0</p>
                              </div>
                              <div class="clip-list-view-info">
                                <div>
                                  <span class="glyphicon glyphicon-thumbs-up"></span>0
                                </div>
                                <div>
                                  <span class="glyphicon glyphicon-comment"></span>0
                                </div>
                              </div>
                            </div>
                          </div>
                        </a>
                      </li>

                      <li>
                        <a>
                          <div class="clip-list-view-video-info ">
                            <div class="clip-list-view-thumbnails" style="display:inline-block;">
                              <img src="https://img.youtube.com/vi/lV6bHRb52RQ/sddefault.jpg"/>
                            </div>
                            <div class="" style="display:inline-block;">
                              <div class="clip-list-view-title">
                                <a id="clip-list-title">승권이 마약파티</a>
                              </div>
                              <div class="clip-list-view-views">
                                <p>갱생레바</p>조회수<p>0</p>
                              </div>
                              <div class="clip-list-view-info">
                                <div>
                                  <span class="glyphicon glyphicon-thumbs-up"></span>0
                                </div>
                                <div>
                                  <span class="glyphicon glyphicon-comment"></span>0
                                </div>
                              </div>
                            </div>
                          </div>
                        </a>
                      </li>

                      <li>
                        <a>
                          <div class="clip-list-view-video-info ">
                            <div class="clip-list-view-thumbnails" style="display:inline-block;">
                              <img src="https://img.youtube.com/vi/lV6bHRb52RQ/sddefault.jpg"/>
                            </div>
                            <div class="" style="display:inline-block;">
                              <div class="clip-list-view-title">
                                <a id="clip-list-title">승권이 마약파티</a>
                              </div>
                              <div class="clip-list-view-views">
                                <p>갱생레바</p>조회수<p>0</p>
                              </div>
                              <div class="clip-list-view-info">
                                <div>
                                  <span class="glyphicon glyphicon-thumbs-up"></span>0
                                </div>
                                <div>
                                  <span class="glyphicon glyphicon-comment"></span>0
                                </div>
                              </div>
                            </div>
                          </div>
                        </a>
                      </li>

                      <li>
                        <a>
                          <div class="clip-list-view-video-info ">
                            <div class="clip-list-view-thumbnails" style="display:inline-block;">
                              <img src="https://img.youtube.com/vi/lV6bHRb52RQ/sddefault.jpg"/>
                            </div>
                            <div class="" style="display:inline-block;">
                              <div class="clip-list-view-title">
                                <a id="clip-list-title">승권이 마약파티</a>
                              </div>
                              <div class="clip-list-view-views">
                                <p>갱생레바</p>조회수<p>0</p>
                              </div>
                              <div class="clip-list-view-info">
                                <div>
                                  <span class="glyphicon glyphicon-thumbs-up"></span>0
                                </div>
                                <div>
                                  <span class="glyphicon glyphicon-comment"></span>0
                                </div>
                              </div>
                            </div>
                          </div>
                        </a>
                      </li>

                      <li>
                        <a>
                          <div class="clip-list-view-video-info ">
                            <div class="clip-list-view-thumbnails" style="display:inline-block;">
                              <img src="https://img.youtube.com/vi/lV6bHRb52RQ/sddefault.jpg"/>
                            </div>
                            <div class="" style="display:inline-block;">
                              <div class="clip-list-view-title">
                                <a id="clip-list-title">승권이 마약파티</a>
                              </div>
                              <div class="clip-list-view-views">
                                <p>갱생레바</p>조회수<p>0</p>
                              </div>
                              <div class="clip-list-view-info">
                                <div>
                                  <span class="glyphicon glyphicon-thumbs-up"></span>0
                                </div>
                                <div>
                                  <span class="glyphicon glyphicon-comment"></span>0
                                </div>
                              </div>
                            </div>
                          </div>
                        </a>
                      </li>

                      <li>
                        <a>
                          <div class="clip-list-view-video-info ">
                            <div class="clip-list-view-thumbnails" style="display:inline-block;">
                              <img src="https://img.youtube.com/vi/lV6bHRb52RQ/sddefault.jpg"/>
                            </div>
                            <div class="" style="display:inline-block;">
                              <div class="clip-list-view-title">
                                <a id="clip-list-title">승권이 마약파티</a>
                              </div>
                              <div class="clip-list-view-views">
                                <p>갱생레바</p>조회수<p>0</p>
                              </div>
                              <div class="clip-list-view-info">
                                <div>
                                  <span class="glyphicon glyphicon-thumbs-up"></span>0
                                </div>
                                <div>
                                  <span class="glyphicon glyphicon-comment"></span>0
                                </div>
                              </div>
                            </div>
                          </div>
                        </a>
                      </li>

                      <li>
                        <a>
                          <div class="clip-list-view-video-info ">
                            <div class="clip-list-view-thumbnails" style="display:inline-block;">
                              <img src="https://img.youtube.com/vi/lV6bHRb52RQ/sddefault.jpg"/>
                            </div>
                            <div class="" style="display:inline-block;">
                              <div class="clip-list-view-title">
                                <a id="clip-list-title">승권이 마약파티</a>
                              </div>
                              <div class="clip-list-view-views">
                                <p>갱생레바</p>조회수<p>0</p>
                              </div>
                              <div class="clip-list-view-info">
                                <div>
                                  <span class="glyphicon glyphicon-thumbs-up"></span>0
                                </div>
                                <div>
                                  <span class="glyphicon glyphicon-comment"></span>0
                                </div>
                              </div>
                            </div>
                          </div>
                        </a>
                      </li>

                      <li>
                        <a>
                          <div class="clip-list-view-video-info ">
                            <div class="clip-list-view-thumbnails" style="display:inline-block;">
                              <img src="https://img.youtube.com/vi/lV6bHRb52RQ/sddefault.jpg"/>
                            </div>
                            <div class="" style="display:inline-block;">
                              <div class="clip-list-view-title">
                                <a id="clip-list-title">승권이 마약파티</a>
                              </div>
                              <div class="clip-list-view-views">
                                <p>갱생레바</p>조회수<p>0</p>
                              </div>
                              <div class="clip-list-view-info">
                                <div>
                                  <span class="glyphicon glyphicon-thumbs-up"></span>0
                                </div>
                                <div>
                                  <span class="glyphicon glyphicon-comment"></span>0
                                </div>
                              </div>
                            </div>
                          </div>
                        </a>
                      </li>

                      <li>
                        <a>
                          <div class="clip-list-view-video-info ">
                            <div class="clip-list-view-thumbnails" style="display:inline-block;">
                              <img src="https://img.youtube.com/vi/lV6bHRb52RQ/sddefault.jpg"/>
                            </div>
                            <div class="" style="display:inline-block;">
                              <div class="clip-list-view-title">
                                <a id="clip-list-title">승권이 마약파티</a>
                              </div>
                              <div class="clip-list-view-views">
                                <p>갱생레바</p>조회수<p>0</p>
                              </div>
                              <div class="clip-list-view-info">
                                <div>
                                  <span class="glyphicon glyphicon-thumbs-up"></span>0
                                </div>
                                <div>
                                  <span class="glyphicon glyphicon-comment"></span>0
                                </div>
                              </div>
                            </div>
                          </div>
                        </a>
                      </li>

                      <li>
                        <a>
                          <div class="clip-list-view-video-info ">
                            <div class="clip-list-view-thumbnails" style="display:inline-block;">
                              <img src="https://img.youtube.com/vi/lV6bHRb52RQ/sddefault.jpg"/>
                            </div>
                            <div class="" style="display:inline-block;">
                              <div class="clip-list-view-title">
                                <a id="clip-list-title">승권이 마약파티</a>
                              </div>
                              <div class="clip-list-view-views">
                                <p>갱생레바</p>조회수<p>0</p>
                              </div>
                              <div class="clip-list-view-info">
                                <div>
                                  <span class="glyphicon glyphicon-thumbs-up"></span>0
                                </div>
                                <div>
                                  <span class="glyphicon glyphicon-comment"></span>0
                                </div>
                              </div>
                            </div>
                          </div>
                        </a>
                      </li>

                      <li>
                        <a>
                          <div class="clip-list-view-video-info ">
                            <div class="clip-list-view-thumbnails" style="display:inline-block;">
                              <img src="https://img.youtube.com/vi/lV6bHRb52RQ/sddefault.jpg"/>
                            </div>
                            <div class="" style="display:inline-block;">
                              <div class="clip-list-view-title">
                                <a id="clip-list-title">승권이 마약파티</a>
                              </div>
                              <div class="clip-list-view-views">
                                <p>갱생레바</p>조회수<p>0</p>
                              </div>
                              <div class="clip-list-view-info">
                                <div>
                                  <span class="glyphicon glyphicon-thumbs-up"></span>0
                                </div>
                                <div>
                                  <span class="glyphicon glyphicon-comment"></span>0
                                </div>
                              </div>
                            </div>
                          </div>
                        </a>
                      </li>

                      <li>
                        <a>
                          <div class="clip-list-view-video-info ">
                            <div class="clip-list-view-thumbnails" style="display:inline-block;">
                              <img src="https://img.youtube.com/vi/lV6bHRb52RQ/sddefault.jpg"/>
                            </div>
                            <div class="" style="display:inline-block;">
                              <div class="clip-list-view-title">
                                <a id="clip-list-title">승권이 마약파티</a>
                              </div>
                              <div class="clip-list-view-views">
                                <p>갱생레바</p>조회수<p>0</p>
                              </div>
                              <div class="clip-list-view-info">
                                <div>
                                  <span class="glyphicon glyphicon-thumbs-up"></span>0
                                </div>
                                <div>
                                  <span class="glyphicon glyphicon-comment"></span>0
                                </div>
                              </div>
                            </div>
                          </div>
                        </a>
                      </li>

                      <li>
                        <a>
                          <div class="clip-list-view-video-info ">
                            <div class="clip-list-view-thumbnails" style="display:inline-block;">
                              <img src="https://img.youtube.com/vi/lV6bHRb52RQ/sddefault.jpg"/>
                            </div>
                            <div class="" style="display:inline-block;">
                              <div class="clip-list-view-title">
                                <a id="clip-list-title">승권이 마약파티</a>
                              </div>
                              <div class="clip-list-view-views">
                                <p>갱생레바</p>조회수<p>0</p>
                              </div>
                              <div class="clip-list-view-info">
                                <div>
                                  <span class="glyphicon glyphicon-thumbs-up"></span>0
                                </div>
                                <div>
                                  <span class="glyphicon glyphicon-comment"></span>0
                                </div>
                              </div>
                            </div>
                          </div>
                        </a>
                      </li>

                      <li>
                        <a>
                          <div class="clip-list-view-video-info ">
                            <div class="clip-list-view-thumbnails" style="display:inline-block;">
                              <img src="https://img.youtube.com/vi/lV6bHRb52RQ/sddefault.jpg"/>
                            </div>
                            <div class="" style="display:inline-block;">
                              <div class="clip-list-view-title">
                                <a id="clip-list-title">승권이 마약파티</a>
                              </div>
                              <div class="clip-list-view-views">
                                <p>갱생레바</p>조회수<p>0</p>
                              </div>
                              <div class="clip-list-view-info">
                                <div>
                                  <span class="glyphicon glyphicon-thumbs-up"></span>0
                                </div>
                                <div>
                                  <span class="glyphicon glyphicon-comment"></span>0
                                </div>
                              </div>
                            </div>
                          </div>
                        </a>
                      </li>

                      <li>
                        <a>
                          <div class="clip-list-view-video-info ">
                            <div class="clip-list-view-thumbnails" style="display:inline-block;">
                              <img src="https://img.youtube.com/vi/lV6bHRb52RQ/sddefault.jpg"/>
                            </div>
                            <div class="" style="display:inline-block;">
                              <div class="clip-list-view-title">
                                <a id="clip-list-title">승권이 마약파티</a>
                              </div>
                              <div class="clip-list-view-views">
                                <p>갱생레바</p>조회수<p>0</p>
                              </div>
                              <div class="clip-list-view-info">
                                <div>
                                  <span class="glyphicon glyphicon-thumbs-up"></span>0
                                </div>
                                <div>
                                  <span class="glyphicon glyphicon-comment"></span>0
                                </div>
                              </div>
                            </div>
                          </div>
                        </a>
                      </li>

                      <li>
                        <a>
                          <div class="clip-list-view-video-info ">
                            <div class="clip-list-view-thumbnails" style="display:inline-block;">
                              <img src="https://img.youtube.com/vi/lV6bHRb52RQ/sddefault.jpg"/>
                            </div>
                            <div class="" style="display:inline-block;">
                              <div class="clip-list-view-title">
                                <a id="clip-list-title">승권이 마약파티</a>
                              </div>
                              <div class="clip-list-view-views">
                                <p>갱생레바</p>조회수<p>0</p>
                              </div>
                              <div class="clip-list-view-info">
                                <div>
                                  <span class="glyphicon glyphicon-thumbs-up"></span>0
                                </div>
                                <div>
                                  <span class="glyphicon glyphicon-comment"></span>0
                                </div>
                              </div>
                            </div>
                          </div>
                        </a>
                      </li>



                    </ul>
                  </div>
                <a href="#" style="  text-decoration: none;">
                  <div class="border-hotclip-view-more">
                    <div> <span class="glyphicon glyphicon-list-alt"></span> 더보기</div>
                  </div>
                </a>
                </div>



              </div>
            </div>
          </div>
  </body>
</html>
