/*----------------------------------커뮤니티 게시판----------------------------*/
.border-community{
  background-color: #ffffff;
}

.hr-color{
  color: #adadad;
}

.border-title-hr{
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 1px solid #bdbdbd;
}

.favorites button{
  margin-left: 20px;
}

.category ul li{
  list-style: none;
  display: inline-block;
}

.category{
  overflow-x: scroll;
  white-space: nowrap;
}

.icon{
  display: inline-block;
}

.border-table table{
  margin: 10px;
  width: 950px;
}

.service{
  padding: 10px;
  width: 100%;
}

.page-nav{
  display: inline-block;
  text-align: center;
}

.page-nav ol {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;

}

.page-nav li {
  float: left;

}

/*-------------------------------------핫클립-----------------------------------*/

.border-hotClip{
  background-color: #fff;
}


/*-------------------------------------방송인 개시판---------------------------*/
.broadcasterCommunity{
  background-color: #fff;
}

.broadcasterList{
  padding-top: 30px;
  max-width: 900px;
  column-count: 5;
  column-fill: balance;
  margin-bottom: 30px;
  margin-top: -10px;
}

.broadcasterClass{
  margin-top: 30px;
  display: inline-block;
  vertical-align: top;
  width: 170px;
  border: 1px solid #444444;
  box-shadow: 0px 1px 10px 1px grey;
}

.head-title{
  background-color: #595959;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
  padding: 3px;
  display: table-cell;
  width: 170px
}

.broadcasterClass div:not(.head-title) {
  padding: 10px;
  color: #287A72;
  cursor: pointer;
}

/*-----핫클립 게시판-----------*/

.border-hotclip-service ul{
  list-style: none;
  padding: 0px;
  margin-top: 10px;
}

.border-hotclip-service>ul>a{
  display: inline-block;
  padding: 15px 20px 15px 20px;
  margin-left: -4px;
  text-decoration: none;
  cursor: pointer;
}

.border-hotclip-service>ul>a:hover{
  background-color: #f0f0f0;
  border-radius: 5px 5px 0px 0px;
}


.border-hotclip-service{
  display: inline-block;
}

.border-hotclip-service-day ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
  padding: 6px;
  padding-left: 170px;
}

.border-hotclip-service-day ul>li{
  display: inline-block;
  margin: -2px;
}

.border-hotclip-service-day{
  display: inline-block;
}

.border-hotclip-service-day a{
  cursor: pointer;
  text-decoration: none;
  padding: 12px 12px 12px 12px;
}

.border-hotclip-service-day a:hover{
  background-color: #ededed;
}


.border-hotclip-search{
  display: inline-block;
  padding-left: 10px;
}

.border-hotclip-write{
  display: inline-block;
  padding-left: 20px;
}

.border-hotclip-write>a{
  background-color: #287A72;
  color: #ffffff;
  padding: 13px;
  border: #777777;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.border-hotclip-write>a:hover{
  background-color: #184a45;
}

.border-hotclip-write>a>span{
  padding-right: 10px;
}


.hotclip-service-active{
  border-radius: 5px 5px 0px 0px;
  border-left: 1px solid;
  border-top: 1px solid;
  border-right: 1px solid;
  border-bottom: none;
  border-color: #777777;
}

.hotclip-service-none{
  border-bottom: 1px solid;
  border-color: #777777;
}

.border-hotclip-in{
  padding: 20px;
}

.border-hotclip-nav{
  margin-left: -5px;
  display: inline-block;
  border-bottom: 1px solid #777777;
  padding-bottom: 4px;
}

.border-hotclip-service-day-middle>a{
  border: 1px solid #777777;
  border-left: none;
}

.border-hotclip-service-day-start>a{
  border: 1px solid #777777;
  border-radius: 5px 0px 0px 5px;
}

.border-hotclip-service-day-end>a{
  border: 1px solid #777777;
  border-left: none;
  border-radius: 0px 5px 5px 0px;
}

.border-hotclip-search input{
  padding: 10px;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid #777777;
  outline: none;
}

.border-hotclip-search button{
  margin: -5px;
  padding: 10px;
  border: 1px solid #777777;
  background-color:  #287A72;
  color: #ffffff;
  border-radius: 0px 5px 5px 0px;
}

.border-hotclip-search button:hover{
    background-color: #184a45;
}

.border-hotclip-body ul{
  margin-left: 15px;
  list-style: none;
  margin-top: 20px;
  padding: 0px;
}

.border-hotclip-body li{
  vertical-align: top;
  height: 270px;
  display: inline-block;
  margin: 5px;
}

.border-hotclip-body-img img{
  width: 260px;
  height: 180px;
}

.border-hotclip-body-img a{
  cursor: pointer;
}

.border-hotclip-body-title>p{
  display: inline-block;
  padding-right: 10px;
  height: 10px;
}

.border-hotclip-body-title>p>a{
  text-decoration: none;
  cursor: pointer;
  color: #287A72;
  font-weight: bold;
}

.border-hotclip-body-title{
  width: 260px;
  word-break:break-all;
}

.border-hotclip-body-title a{
  cursor: pointer;
  text-decoration: none;
}

.border-hotclip-body-writer a{
  text-decoration: none;
  cursor: pointer;
  color: #000000;
}

.border-hotclip-body-info div{
  display: inline-block;
  padding-right: 5px;
}

.border-hotclip-page-list{
  text-align: center;
}
