/*----------------------------------커뮤니티 게시판----------------------------*/

.border-community{
  background-color: #ffffff;
  padding: 20px;
}

.hr-color{
  color: #adadad;
}

.border-title-hr{
  border-bottom: 1px solid #bdbdbd;
  font-size: 24px;
}

.border-comm-favorites{
  vertical-align: top;
}

.border-comm-favorites>a{
  text-decoration: none;
  cursor: pointer;
}

.border-comm-favorites>a>span{
  color: #e4c000;
}


.favorites button{
  margin-left: 20px;
}

.category ul li{
  list-style: none;
  display: inline-block;
  margin-bottom: 5px;
}

.category a{
  border-radius: 5px;x;
  text-decoration: none;
  cursor: pointer;
  padding: 10px 20px 10px 20px;
  text-align: center;
  color: #ffffff;
}

.category ul{
  list-style: none;
  padding: 0px;
}

.category{
  padding-top: 20px;
  overflow-x: scroll;
  white-space: nowrap;
}

.icon{
  display: inline-block;
}

.border-table ul{
  margin-top: 10px;
  width: 100%;
  border-radius: 5px;
  border-top: 5px solid #287A72;
  list-style: none;
  padding: 0px;
}

.border-table li{
  border-bottom: 1px solid #b1b1b1;
}

.border-table li>div{
  display: inline-block;
}

.border-comm-recomm{
  padding: 10px;
  text-align: center;
}

.border-comm-recomm>div{
  vertical-align: top;
  background-color: #287A72;
  text-align: center;
  border-radius: 10px;
  color: #ffffff;
  padding: 0px 7px;
}

.border-comm-name{
  text-align: center;
  padding: 10px 5px;
  margin-left: -10px;
  margin-left: -10px;
}

.border-comm-name a{
  cursor: pointer;
  padding: 0px 10px;
  border-right: 1px solid #b1b1b1;
  border-left: 1px solid #b1b1b1;
}

.border-comm-title{
  width: 500px;
}

.border-comm-title span{
  padding-right: 8px;
}

.border-comm-title a{
  color: #000000;
  cursor: pointer;
  text-decoration: none;
}

.border-comm-writer{
  width: 180px;
  padding: 10px;
  text-align: center;
}

.border-comm-writer>div{
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: #000000;
  padding: 0px 5px;
  border-right: 1px solid #b1b1b1;
  border-left: 1px solid #b1b1b1;
}

.border-comm-writer a{
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: #000000;
}

.border-comm-writer img{
  background-color: #868686;
  vertical-align: top;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.border-comm-day{
  padding: 10px 5px;
}

.service{
  padding: 10px;
  width: 100%;
}

.page-nav{
  display: inline-block;
  text-align: center;
}

.page-nav ol {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;

}

.page-nav li {
  float: left;

}

.popularW a{
  cursor: pointer;
  text-decoration: none;
  padding: 10px;
  width: 100px;
  border: 2px solid #ffd600;
  color: #e4c000;
}

.comm-write a{
  cursor: pointer;
  text-decoration: none;
  padding: 10px;
  width: 100px;
  border: 2px solid #287A72;
  color: #287A72;
}

.border-community-service>div{
  display: inline-block;
}



/*-------------------------------------핫클립-----------------------------------*/

.border-hotClip{
  background-color: #fff;
}


/*-------------------------------------방송인 개시판---------------------------*/
.broadcasterCommunity{
  background-color: #fff;
}

.broadcasterList{
  padding-top: 30px;
  max-width: 900px;
  margin-bottom: 30px;
  margin-top: -10px;
  columns: 5;
  column-fill: balance;
}

.broadcasterList_comm{
  max-width: 900px;
  margin-bottom: 30px;
  margin-top: -10px;
  columns: 4;
}

.broadcasterList_con{
  width: 760px;
  margin: 20px;
  margin-top: -20px;
}

.broadcasterList_search input{
  margin: 40px;
  margin-bottom: 30px;
  margin-left: 35px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #c7c7c7;
  width: 730px;
  outline: none;
}

.broadcasterClass{
  margin-top: 30px;
  position: static;
  display: inline-block;
  vertical-align: top;
  width: 170px;
  border: 1px solid #444444;
  box-shadow: 0px 1px 10px 1px grey;
}

.head-title{
  background-color: #595959;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
  padding: 3px;
  display: table-cell;
  width: 170px
}

.broadcasterClass div:not(.head-title) {
  padding: 10px;
  color: #287A72;
  cursor: pointer;
}

/*-----핫클립 게시판-----------*/

.border-hotclip-service ul{
  list-style: none;
  padding: 0px;
  margin-top: 10px;
}

.border-hotclip-service>ul>a{
  display: inline-block;
  padding: 15px 20px 15px 20px;
  margin-left: -4px;
  text-decoration: none;
  cursor: pointer;
}

.border-hotclip-service>ul>a:hover{
  background-color: #f0f0f0;
  border-radius: 5px 5px 0px 0px;
}


.border-hotclip-service{
  display: inline-block;
}

.border-hotclip-service-day ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
  padding: 6px;
  padding-left: 170px;
}

.border-hotclip-service-day ul>li{
  display: inline-block;
  margin: -2px;
}

.border-hotclip-service-day{
  display: inline-block;
}

.border-hotclip-service-day a{
  cursor: pointer;
  text-decoration: none;
  padding: 12px 12px 12px 12px;
}

.border-hotclip-service-day a:hover{
  background-color: #ededed;
}


.border-hotclip-search{
  display: inline-block;
  padding-left: 10px;
}

.border-hotclip-write{
  display: inline-block;
  padding-left: 20px;
}

.border-hotclip-write>a{
  background-color: #287A72;
  color: #ffffff;
  padding: 13px;
  border: #777777;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.border-hotclip-write>a:hover{
  background-color: #184a45;
}

.border-hotclip-write>a>span{
  padding-right: 10px;
}


.hotclip-service-active{
  border-radius: 5px 5px 0px 0px;
  border-left: 1px solid;
  border-top: 1px solid;
  border-right: 1px solid;
  border-bottom: none;
  border-color: #777777;
}

.hotclip-service-none{
  border-bottom: 1px solid;
  border-color: #777777;
}

.border-hotclip-in{
  padding: 20px;
}

.border-hotclip-nav{
  margin-left: -5px;
  display: inline-block;
  border-bottom: 1px solid #777777;
  padding-bottom: 4px;
}

.border-hotclip-service-day-middle>a{
  border: 1px solid #777777;
  border-left: none;
}

.border-hotclip-service-day-start>a{
  border: 1px solid #777777;
  border-radius: 5px 0px 0px 5px;
}

.border-hotclip-service-day-end>a{
  border: 1px solid #777777;
  border-left: none;
  border-radius: 0px 5px 5px 0px;
}

.border-hotclip-search input{
  padding: 10px;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid #777777;
  outline: none;
}

.border-hotclip-search button{
  margin: -5px;
  padding: 10px;
  border: 1px solid #777777;
  background-color:  #287A72;
  color: #ffffff;
  border-radius: 0px 5px 5px 0px;
}

.border-hotclip-search button:hover{
    background-color: #184a45;
}

.border-hotclip-body ul{
  margin-left: 15px;
  list-style: none;
  margin-top: 20px;
  padding: 0px;
}

.border-hotclip-body li{
  vertical-align: top;
  height: 270px;
  display: inline-block;
  margin: 5px;
}

.border-hotclip-body-img img{
  width: 260px;
  height: 180px;
}

.border-hotclip-body-img a{
  cursor: pointer;
}

.border-hotclip-body-title>p{
  display: inline-block;
  padding-right: 10px;
  height: 10px;
}

.border-hotclip-body-title>p>a{
  text-decoration: none;
  cursor: pointer;
  color: #287A72;
  font-weight: bold;
}

.border-hotclip-body-title{
  width: 260px;
  word-break:break-all;
}

.border-hotclip-body-title a{
  cursor: pointer;
  text-decoration: none;
}

.border-hotclip-body-writer a{
  text-decoration: none;
  cursor: pointer;
  color: #000000;
}

.border-hotclip-body-info div{
  display: inline-block;
  padding-right: 5px;
}

.border-hotclip-page-list{
  text-align: center;
}

.border-comm-service{
  background-color: #c7c7c7;
  padding: 10px;
}

.border-comm-service>a{
  padding: 8px 10px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #959595;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

.border-comm-service>a>span{
  padding-right:5px;
}

.border-comm-title-url:visited{
  color: #ababab;
}

.border-table li:hover{
  background-color: #e9e9e9;
}

.border-comm-comment{
  font-size: 16px;
  vertical-align: top;
  color: #287A72;
  margin-bottom: 10px;
}

.border-comm-comments{
  margin-top: 30px;
}

.border-comm-comments-div ul{
  list-style: none;
  padding: 0px;
}

.border-comm-comments-div li{
  margin-bottom: 10px;
}


.border-comm-comments-info>div{
  display: inline-block;
}

.border-comm-comments-info{
  background-color: #e3e3e3;
  border: 1px solid #bdbdbd;
  border-bottom: none;
  padding: 10px;
}

.border-comm-comments-contents{
  border: 1px solid #bdbdbd;
  padding: 10px;
}

.border-comm-comments-icon{
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #5b5b5b;
  vertical-align: middle;
}

.border-comm-comments-writer{
  color: #287A72;
  font-weight: bold;
}
.border-comm-comments-writer-service{
  padding-top: 4px;
}

.border-comm-comments-writer-service span{
  padding-right: 5px;
}

.border-comm-comments-writer-service>div{
  vertical-align: middle;
  display: inline-block;
}

.broadcasterList-t{
  display: none;
}


.broadcaster-list-box{
  background-color: #fff;
}

.broadcaster-list-box>ul{
  list-style: none;
  padding: 0px;
}

.broadcaster-list-box>ul>li>div{
  margin: 5px 10px;
  display: inline-block;
  width: 18px;
  text-align: center;
  height: 18px;
  color: #fff;
  border-radius: 5px;
  margin-right: -0px;
}

.broadcaster-list-box>ul>li{
  border-bottom: 1px solid #b0b0b0;
}

.broadcaster-application-btn{
  margin-top: 20px;
}

.broadcaster-application-btn>a{
  background-color: #287A72;
  text-align: center;
  color: #fff;
  padding: 8px 10px;
  border-radius: 5px;
  text-decoration: none;
  position: absolute;
  width: 137px;
}

.hotClip-upload{
	margin-bottom:10px;
}

.border-community-m{
	margin-left:10px;
	margin-right:0px;
}