/* 인기 게시판 */
.best-content{
  background-color: #ffffff;

}

.q-and-a{
  background-color: #ffffff;
}

/* 공지 게시판 */
.notice{
  background-color: #ffffff;

}

/* 놀러와요 게시판 */
.play{
  background-color: #ffffff;

/* 함께일해요 게시판 */
}
.working{
  background-color: #ffffff;

}

/* 핫클립 */
.hotclip{
    background-color: #ffffff;

}
