
.nav-bar{
  background-color:  #287A72;
}

.nav-logo{
  display: inline-block;
}

.nav-logo img{
  width: 130px;
  padding: 10px;
}

.nav-list{
  display: inline-block;
}

.nav-list>ul{
  list-style: none;
  padding: 0px;
}

.nav-list>ul>li{
  display: inline-block;
  padding: 5px;
}

.nav-list>ul>li>a{
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  cursor: pointer;

}


.changer{
  width: 100px;
}

.write-info-table td{
  word-break: break-all;
}

#url,#text{
  width: 350px;
}

.change_true{
  background-color: #287A72;
  border-radius: 5px;
  border: none;
  color:#fff;
  padding: 5px;
  outline: none;
}

.change_false{
  background-color: #bfbfbf;
  border-radius: 5px;
  border: none;
  color:#fff;
  padding: 5px;
  outline: none;
}

.changearea{
  width: 100%;
  padding: 5px;
  resize: vertical;
}

.num-only{
  width: 10px;
}
