<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jobless.dao.mapper.IClipMapper">
	<!-- 우리가 jdbc로 작성했던 쿼리문을 여기다가 만들면 됨 -->
  	<insert id="insertClip" parameterType="Clip">
  		insert into clip(clip_title, clip_url, writer_id, broadcaster_id) values(#{title}, #{clipURL}, #{writerId}, #{broadcasterId})
  	</insert>
  	<select id="selectClipList" resultType="Clip">
  		select * from clip
  	</select>
  	<select id="selectClipById" parameterType="int" resultType="Clip">
  		select * from clip where clip_id = #{clip_id}
  	</select>
  	<delete id="deleteUser" parameterType="int">
  		delete from clip where clip_id = #{clip_id}
  	</delete>
</mapper>