<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jobless.dao.mapper.IClipMapper">
	<!-- 우리가 jdbc로 작성했던 쿼리문을 여기다가 만들면 됨 -->
  	<insert id="insertClip" parameterType="Clip">
  		insert into clip(clip_title, clip_url, thumb_url, writer_id, broadcaster_id) values(#{title}, #{clipURL}, #{thumbURL}, #{writerId}, #{broadcasterId})
  	</insert>
  	<select id="selectClipList" resultType="Clip">
  		select 
  			clip_id clipId, 
  			clip_title title, 
  			clip_url clipURL,
  			thumb_url thumbURL, 
  			write_date writeDate, 
  			views, 
  			writer_id writerId, 
  			broadcaster_id broadcasterId
  		from clip
  	</select>
  	<select id="selectClipById" parameterType="int" resultType="Clip">
  		select 
  			clip_id clipId, 
  			clip_title title, 
  			clip_url clipURL, 
  			thumb_url thumbURL,
  			write_date writeDate, 
  			views, 
  			writer_id writerId, 
  			broadcaster_id broadcasterId 
  		from clip 
  		where clip_id = #{clipId}
  	</select>
  	<select id="selectClipByWriterId" parameterType="int" resultType="Clip">
  		select 
  			clip_id clipId, 
  			clip_title title, 
  			clip_url clipURL, 
  			thumb_url thumbURL,
  			write_date writeDate, 
  			views, 
  			writer_id writerId, 
  			broadcaster_id broadcasterId 
  		from clip 
  		where writer_id = #{writerId}
  	</select>
  	<select id="selectClipByBroadcasterId" parameterType="int" resultType="Clip">
  		select 
  			clip_id clipId, 
  			clip_title title, 
  			clip_url clipURL, 
  			thumb_url thumbURL,
  			write_date writeDate, 
  			views, 
  			writer_id writerId, 
  			broadcaster_id broadcasterId 
  		from clip 
  		where broadcaster_id = #{broadcasterId}
  	</select>
  	<delete id="deleteClip" parameterType="int">
  		delete from clip where clip_id = #{clipId}
  	</delete>
  	
	<resultMap type="ClipDetail" id="ClipMap" autoMapping="true">
		<association property="clip" javaType="Clip" autoMapping="true"/>
		<association property="writer" javaType="User">
			<result property="userId" column="writerId"/>
			<result property="nickName" column="writerNickname"/>
		</association>
		<association property="broadcaster" javaType="User">
			<result property="userId" column="broadcasterId"/>
			<result property="nickName" column="broadcasterNickname"/>
		</association>
	</resultMap>
	
  	<select id="selectClipDetail" parameterType="int" resultMap="ClipMap">
  		select 
  			c.clip_id clipId, 
  			clip_title title, 
  			clip_url clipURL, 
  			write_date writeDate, 
  			views, 
  			writer_id writerId, 
  			broadcaster_id broadcasterId,
  			w.nickname writerNickname,
  			b.nickname broadcasterNickname,
  			count(l.clip_id) likes
  		from 
  			clip c join user w on c.writer_id = w.user_id
  			left outer join user b on c.broadcaster_id = b.user_id
  			left outer join taku.like l on c.clip_id = l.clip_id
  		where
  			c.clip_id = #{clipId}
  		group by
  			c.clip_id
  	</select>
  	
  	<select id="selectClipDetailList" resultMap="ClipMap">
  		select 
  			c.clip_id clipId, 
  			clip_title title, 
  			clip_url clipURL,
  			thumb_url thumbURL, 
  			write_date writeDate, 
  			views, 
  			writer_id writerId, 
  			broadcaster_id broadcasterId,
  			w.nickname writerNickname,
  			b.nickname broadcasterNickname,
  			count(l.clip_id) likes
  		from 
  			clip c join user w on c.writer_id = w.user_id
  			left outer join user b on c.broadcaster_id = b.user_id
  			left outer join taku.like l on c.clip_id = l.clip_id
  		group by
  			c.clip_id
  	</select>
  	
  	<update id="readToIncreaseViews" parameterType="Clip">
		update clip 
		set 
			views = views
		where 
			clip_id = #{clipId}
	</update>
</mapper>