<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jobless.dao.mapper.IContentMapper">
	
	<insert id="insertContent" parameterType="Content">
		INSERT INTO Content (content) 
		VALUES (#{content});
	</insert>
	
	<update id="updateContent" parameterType="Content">
		update Content 
		set 
			content = #{content}
		where 
			content_id = #{contentId}
	</update>
	
	<delete id="deleteContent" parameterType="int">
		delete from 
			Content 
		where 
			content_id = #{contentId}
	</delete>
	
	<select id="selectContentById"  parameterType="int" resultType="Content">
		select 
			content_id contentId, 
			content
		from 
			Content 
		where 
			content_id = #{contentId}
	</select>
</mapper>