<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jobless.dao.mapper.IIconMapper">
	<insert id="insertIcon" parameterType="Icon">
			insert 
			into 
				icon(filename, icon_name)
					
				values(#{fileName}, #{iconName})
	</insert>
	<select id="selectIconById" resultType="Icon" parameterType="int">
		select 
			icon_id as iconId, 
			filename as fileName,
			icon_name as iconName
		from 
			icon 
		where 
			icon_id = #{iconId}
			
	</select>
	<select id="selectAllIcon" resultType="Icon">	
		select 
			icon_id as iconId, 
			filename as fileName,
			icon_name as iconName
		from 
			icon 
	</select>
	<delete id="deleteIcon" parameterType="int">
		delete 
		from 
			icon 
		where 
			icon_id = #{iconId}
	</delete>
	<update id="updateIcon" parameterType="Icon">
		update 
			icon 
		set 
			filename = #{fileName},
			icon_name = #{iconName}
		where 
			icon_id = #{iconId};
	</update>
	
	<!-- My Icon -->
	<insert id="insertMyIcon" parameterType="MyIcon">
			insert 
			into 
				my_icon(user_id, icon_id)
					
				values(#{userId}, #{iconId})
	</insert>
	
	
	
</mapper>