<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jobless.dao.mapper.ILikeMapper">
	<select id="selectClipLike" parameterType="Like" resultType="Like">
		select 
			`user_id` as `userId`, 
			`clip_id` as `clip_or_postId` 
		from 
			`like` 
		where 
			`user_id` = #{userId} 
		and 
			`clip_id` = #{clip_or_postId}
	</select>
	
<!-- 	<select id="selectPostLike" parameterType="Like" resultType="Like">
		select 
			`user_id` as `userId`, 
			`post_id` as `clip_or_postId` 
		from 
			`like` 
		where 
			`user_id` = #{userId} 
		and 
			`post_id` = #{clip_or_postId}
	</select> -->

	<insert id="insertClipLike" parameterType="Like">
		INSERT INTO `like` (`user_id`, `clip_id`) VALUES (#{userId}, #{clip_or_postId})
	</insert>
	
<!-- 	<insert id="insertPostLike" parameterType="Like">
		INSERT INTO `like` (`user_id`, `post_id`) VALUES (#{userId}, #{clip_or_postId})
	</insert> -->
</mapper>