<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jobless.dao.mapper.IUserMapper">
	<insert id="insertUser" parameterType="User">
		insert 
		into 
			user(
				login_id, 
				nickName, 
				password, 
				email,
				platform_id
				)
				
			values(
				#{loginId}, 
				#{nickName}, 
				#{password}, 
				#{email},
				#{platformId}
				)
	</insert>
	<select id="selectUserByUserId" resultType="User" parameterType="int">
		select 
			user_id as userId, 
			login_id as loginId, 
			nickname as nickName, 
			password, 
			email, 
			point, 
			is_admin, 
			reg_date as regDate, 
			is_banned, 
			platform_id as platformId 
		from 
			user 
		where 
			user_id = #{userId}
	</select>
	<select id="selectUserByLoginId" resultType="User" parameterType="String">
		select 
			user_id as userId, 
			login_id as loginId, 
			nickname as nickName, 
			password, 
			email, 
			point, 
			is_admin, 
			reg_date as regDate, 
			is_banned, 
			platform_id as platformId 
		from 
			user 
		where 
			login_id = #{loginId}
	</select>
	<select id="selectAllUser" resultType="User">	
		select 
			user_id as userId, 
			login_id as loginId, 
			nickname as nickName, 
			password, 
			email, 
			point, 
			is_admin, 
			reg_date as regDate, 
			is_banned, 
			platform_id as platformId 
		from 
			user
	</select>
	<delete id="deleteUser" parameterType="int">
		delete 
		from 
			user 
		where 
			user_id = #{userId}
	</delete>
	<update id="updateUser" parameterType="User">
		update 
			user 
		set 
			nickname = #{nickName}, 
			password = #{password}, 
			email = #{email} 
		where 
			user_id = #{userId};
	</update>
</mapper>
