<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jobless.dao.mapper.IUserMapper">
	<insert id="insertUser" parameterType="User">
		insert 
		into 
			user(
				login_id, 
				nickName, 
				password, 
				email,
				platform_id
				)
				
			values(
				#{loginId}, 
				#{nickName}, 
				#{password}, 
				#{email},
				#{platformId}
				)
	</insert>
	<select id="selectUserByUserId" resultType="User" parameterType="int">
		select 
			u.user_id as userId, 
			login_id as loginId, 
			nickname as nickName, 
			password, 
			email, 
			point, 
			is_admin as 'admin', 
			reg_date as regDate, 
			is_banned as ban, 
			platform_id as platformId, 
			is_streamer as streamer,
			u.icon_id as iconId,
			(select filename from icon where icon_id = u.icon_id) as fileName 
		from 
			user u join icon ic on u.icon_id = ic.icon_id
		where 
			user_id = #{userId}
	</select>
	<select id="selectUserByLoginId" resultType="User" parameterType="String">
		select 
			u.user_id as userId, 
			login_id as loginId, 
			nickname as nickName, 
			password, 
			email, 
			point, 
			is_admin as 'admin', 
			reg_date as regDate, 
			is_banned as ban, 
			platform_id as platformId, 
			is_streamer as streamer,
			u.icon_id as iconId,
			(select filename from icon where icon_id = u.icon_id) as fileName
		from 
			user u join icon ic on u.icon_id = ic.icon_id 
		where 
			login_id = #{loginId}
	</select>
	<select id="selectUserByNickName" resultType="User" parameterType="String">
		select 
			u.user_id as userId, 
			login_id as loginId, 
			nickname as nickName, 
			password, 
			email, 
			point, 
			is_admin as 'admin', 
			reg_date as regDate, 
			is_banned as ban, 
			platform_id as platformId, 
			is_streamer as streamer,
			u.icon_id as iconId,
			(select filename from icon where icon_id = u.icon_id) as fileName
		from 
			user u join icon ic on u.icon_id = ic.icon_id 
		where 
			nickname = #{nickName}
	</select>
	<select id="selectUserByEmail" resultType="User" parameterType="String">
		select 
			u.user_id as userId, 
			login_id as loginId, 
			nickname as nickName, 
			password, 
			email, 
			point, 
			is_admin as 'admin', 
			reg_date as regDate, 
			is_banned as ban, 
			platform_id as platformId, 
			is_streamer as streamer,
			u.icon_id as iconId,
			(select filename from icon where icon_id = u.icon_id) as fileName 
		from 
			user u join icon ic on u.icon_id = ic.icon_id 
		where 
			email = #{email}
	</select>
	<select id="selectAllUser" resultType="User">	
		select 
			u.user_id as userId, 
			login_id as loginId, 
			nickname as nickName, 
			password, 
			email, 
			point, 
			is_admin as 'admin', 
			reg_date as regDate, 
			is_banned as ban, 
			platform_id as platformId, 
			is_streamer as streamer,
			u.icon_id as iconId,
			(select filename from icon where icon_id = u.icon_id) as fileName
		from 
			user u join icon ic on u.icon_id = ic.icon_id
	</select>
	<select id="selectStreamerAll" resultType="User">	
		select 
			u.user_id as userId, 
			login_id as loginId, 
			nickname as nickName, 
			password, 
			email, 
			point, 
			is_admin as 'admin', 
			reg_date as regDate, 
			is_banned as ban, 
			platform_id as platformId, 
			is_streamer as streamer,
			u.icon_id as iconId,
			(select filename from icon where icon_id = u.icon_id) as fileName
		from 
			user u join board b on u.user_id = b.user_id
			left outer join icon ic on ic.icon_id = u.icon_id
		where
			is_streamer = true
		order by
			nickName
	</select>
	<delete id="deleteUser" parameterType="int">
		delete 
		from 
			user 
		where 
			user_id = #{userId}
	</delete>
	<update id="updateUserData" parameterType="User">
		update 
			user 
		set 
			nickname = #{nickName}, 
			email = #{email} 
		where 
			user_id = #{userId};
	</update>
	
	<update id="updateUserPw" parameterType="User">
		update 
			user 
		set 
			password = #{password}
		where 
			user_id = #{userId};
	</update>
	
	<update id="updateIsStreamer" parameterType="User">
		update 
			user 
		set 
			is_streamer = true 
		where 
			user_id = #{userId};
	</update>
	
	<update id="updateIconId" parameterType="User">
		update 
			user 
		set 
			icon_id = #{iconId} 
		where 
			user_id = #{userId};
	</update>
	
	<update id="updatePoint" parameterType="int">
		update 
			user 
		set 
			point = point - 500
		where 
			user_id = #{userId};
	</update>
	
	<update id="pointPay" parameterType="int">
		update
			user
		set
			point = point + 50
		where
			user_id = #{userId};
	</update>
</mapper>
